{% extends 'Forum_admin/Forum_layout.html.twig' %}
{% block entete %}Ajouter un Topic {% endblock %}

{% block contenu %}

{{ form_start(form) }}
 <div class="form-group {{ form_errors(form.slug) is not empty ? "has-error" : "has-success" }}">
    <label class="form-control-label" >{{ form_label(form.slug) }}</label>
    {{ form_widget(form.slug, {'attr': {'class': 'form-control {{ form_errors(form.slug) is not empty ? "is-invalid" : "is-valid" }}'}}) }}
    <small class="form-text text-muted" id="emailHelp">{{ form_help(form.slug) }}</small>
    <div class="form-control-feedback">{{ form_errors(form.slug) }}</div>
</div>

 <div class="form-group {{ form_errors(form.libelle) is not empty ? "has-error" : "has-success" }}">
    <label class="form-control-label" >{{ form_label(form.libelle) }}</label>
    {{ form_widget(form.libelle, {'attr': {'class': 'form-control {{ form_errors(form.libelle) is not empty ? "is-invalid" : "is-valid" }}'}}) }}
    <small class="form-text text-muted" id="emailHelp">{{ form_help(form.libelle) }}</small>
    <div class="form-control-feedback">{{ form_errors(form.libelle) }}</div>
</div>

<div class="tile-footer">
{{ form_row(form.save, { 'label': 'Save Topic', 'attr': {'class': 'btn btn-primary'} }) }}

</div>

{{ form_end(form) }}

 {% endblock %}


