{% extends 'base.html.twig' %}

{% block title %}Ordenance index{% endblock %}

{% block body %}
    <h1>Ordenance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Created_at</th>
                <th>Name_profSante</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ordenance in ordenances %}
            <tr>
                <td>{{ ordenance.id }}</td>
                <td>{{ ordenance.description }}</td>
                <td>{{ ordenance.createdAt ? ordenance.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ordenance.nameProfSante }}</td>
                <td>{{ ordenance.adresse }}</td>
                <td>
                    <a href="{{ path('app_ordenance_show', {'id': ordenance.id}) }}">show</a>
                    <a href="{{ path('app_ordenance_edit', {'id': ordenance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ordenance_new') }}">Create new</a>
{% endblock %}
