{% extends 'baseadmin1.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}

<div class="col-md-12">
          <div class="tile">
           
            <div class="table-responsive">
              <table class="table" style="width: 800px;">
                <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>dateDebut</th>
                <th>dateFin</th>
                <th>Consultationurl</th>
                <th>Image</th>
                <th>Liste des participants</th>
                <th>actions</th>
            </tr>
        </thead>
                <tbody>
                 {% for evennement in evennements %}
                  <tr>
                <td>{{ evennement.titre }}</td>  
                <td>{{ evennement.description }}</td>
                <td>{{ evennement.dateDebut ? evennement.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evennement.dateFin ? evennement.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evennement.consultationurl }}</td>
                <td><img
            src="{{ asset('uploads/' ~ evennement.image) }}"
            alt=""
            width="100"
            height="100"
          /></td>

                <td>
                <ul>
                 {% for p in evennement.participants %}
                <li>{{ p.nom }}</li>
        {% endfor %}
                </ul>
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_evennement_show', {'id': evennement.id}) }}">{{ evennement.reservations }}</a>
                    <a class="btn btn-primary" href="{{ path('app_evennement_delete', {'id': evennement.id}) }}">supprimer</a>
                    <a class="btn btn-primary" href="{{ path('app_evennement_edit', {'id': evennement.id}) }}">edit</a>
                </td>
            </tr>
        
        {% endfor %}
                </tbody>
              </table>
              <a href="{{ path('app_evennement_new') }}">Create new</a>
            </div>
          </div>
        </div>

   
{% endblock %}
