{% extends 'baseadmin1.html.twig' %}

{% block title %}Evennement{% endblock %}

{% block body %}

<div class="col-md-12">
          <div class="tile">
           
            <div class="table-responsive">
              <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ evennement.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evennement.description }}</td>
            </tr>
            <tr>
                <th>Date début</th>
                <td>{{ evennement.dateDebut ? evennement.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date fin</th>
                <td>{{ evennement.dateFin ? evennement.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Consultationurl</th>
                <td>{{ evennement.consultationurl }}</td>
            </tr>
            <tr>
                <th>Nb. Participants</th>
                <td>{{ evennement.reservations }}</td>
            </tr>
            <tr>
                <th>Liste des participants</th>
                <td>
                <ul>
                 {% for p in evennement.participants %}
                <li>{{ p.nom }} | {{ p.email }}</li>
        {% endfor %}
                </ul>
                </td>
            </tr>
        </tbody>
    </table>
     {{ include('evennement/_delete_form.html.twig') }}
    <a href="{{ path('app_evennement_index') }}">back to list</a>
            </div>
        
  
  </div>
 
        </div>
  
{% endblock %}
