{% extends 'baseadmin.html.twig' %}

{% block title %}Evennement{% endblock %}

{% block body %}

<div class="col-md-12">
          <div class="tile">
           
            <div class="table-responsive">
              <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evennement.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ evennement.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evennement.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evennement.date ? evennement.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Consultationurl</th>
                <td>{{ evennement.consultationurl }}</td>
            </tr>
        </tbody>
    </table>
     {{ include('evennement/_delete_form.html.twig') }}
    <a href="{{ path('app_evennement_index') }}">back to list</a>
            
            </div>
        
  
  </div>
 
        </div>
  
{% endblock %}
