{% extends 'base.html.twig' %}

{% block title %}Topic{% endblock %}

{% block body %}
<div class="container">
    <h1>Topic</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ topic.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ topic.slug }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ topic.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_topic_index') }}">back to list</a>

    <a href="{{ path('app_topic_edit', {'id': topic.id}) }}">edit</a>

    {{ include('topic/_delete_form.html.twig') }}
</div>
{% endblock %}
