{% extends 'baseadmin1.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block body %}
    <h1>Facture index</h1>

    <table class="table" style="width: 800px; margin-left: 350px">
        <thead>
            <tr>
                <th>Num</th>
                <th>Date de paiement</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.num }}</td>
                <td>{{ facture.createdAt ? facture.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ facture.price }}</td>
                <td>
                    <a href="{{ path('app_facture_show', {'id': facture.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_facture_new') }}">Create new</a>
{% endblock %}
