{% extends 'base.html.twig' %}

{% block title %}
    {{ article.titre }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/article.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="article-title">{{ article.titre }}</h1>

        <hr>

        <div class="article-content" style="font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;">
    {{ article.contenu|raw }}
</div>


        <div class="article-actions">
		<hr>
<div class="d-flex justify-content-between">
    <div class="mr-3">
        <a href="{{ path('app_PdfArticle', {'id': article.id}) }}" download="MonArticle{{ article.id }}.pdf">
            <button class="btn btn-primary">Download PDF</button>
        </a>
    </div>
    <div class="article-like">
        {% if liked %}
            <a href="{{ path('article_dislike', { 'id': article.id }) }}">
                <img src="{{ asset( "assets/img/icon/dislike.png")}} "/>
            </a>
        {% else %}
            <a href="{{ path('article_like', { 'id': article.id }) }}">
                <img src="{{ asset( "assets/img/icon/like.png")}} "/>
            </a>
        {% endif %}
    </div>
</div>
<hr>


        <h2 class="comments-title">
            <span id="comment-count">{{ article.comments|length }}</span>
            commentaire(s)
        </h2>

        <div class="comments">
            <table>
                <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Commentaire</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in article.comments %}
                        <tr class="comment">
                            <td class="comment-user">
                                {{comment.user.nom}}
                                {{comment.user.prenom}}
                            </td>
                            <td class="comment-content">
                                <p>{{comment.contenu}}</p>
                                <span>{{ comment.createdAt ? comment.createdAt|date('Y-m-d') : '' }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="comment-area">
                {{ form(commentForm, { attr: { class: 'comment-form' } }) }}

                {% if cleanedComment is not null and cleanedComment.dirty is defined and cleanedComment.dirty is not empty %}
                    <div class="alert alert-danger mt-3">
                        Le commentaire contient les mots inappropriés suivants :
                        {{ cleanedComment.dirty|join(', ') }}
                    </div>
                {% endif %}
            </div>
        </div>

          
        </div>

      
    </div>
{% endblock %}

